@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    overflow-x: hidden;
}

.container {
    display: flex;
    align-items: center;
  }
  
  .vertical-line {
    border-left: 1px solid black; /* Adjust the width and color as needed */
    height: 40px; /* Adjust the height as needed */
    margin: 0 10px; /* Adjust the margin as needed */
  }